[Unit]
Description=Port Binder Server
After=network.target

[Service]
Type=simple
ExecStart=/bin/server
Restart=on-failure
User=nobody
WorkingDirectory=/tmp

[Install]
WantedBy=multi-user.target